.hero{

    background:#111;
    color:white;
    text-align:center;
    padding:80px 20px;

}

.hero h1{

    font-size:48px;
    margin-bottom:20px;

}

.hero p{

    max-width:700px;
    margin:auto;
    color:#ccc;

}

.products{

    max-width:1300px;
    margin:60px auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

    padding:20px;

}

.card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.card img{
    width:100%;
    max-height:300px;
    object-fit:contain;
}

.content{

    padding:20px;

}

.content span{

    color:#b68d40;
    font-weight:bold;

}

.content h2{

    margin:10px 0;

}

.content p{

    color:#666;

}

.bottom{

    margin-top:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.bottom strong{

    font-size:22px;

    color:#111;

}

button{

    background:#b68d40;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#967030;

}

.image-modal{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.85);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

}

.image-modal img{

    max-width:90%;

    max-height:90%;

    object-fit:contain;

    border-radius:12px;

    background:white;

    padding:20px;

}