<app-navbar></app-navbar>
<section class="hero">

    <h1>Produse Profesionale</h1>

    <p>
        Descoperă produsele folosite de frizerii noștri pentru
        un styling perfect și îngrijirea părului.
    </p>

</section>

<section class="products">

    <div
        class="card"
        *ngFor="let product of products">

  <img
  [src]="product.image"
  [alt]="product.name"
  (click)="openImage(product.image)">

        <div class="content">

            <span>{{product.brand}}</span>

            <h2>{{product.name}}</h2>

            <p>{{product.description}}</p>

            <div class="bottom">

                <strong>{{product.price}} Lei</strong>

                <button>Rezervă în salon</button>

            </div>

        </div>

    </div>
</section>
@if(selectedImage){

<div class="image-modal" (click)="closeImage()">

    <img
      [src]="selectedImage"
      (click)="$event.stopPropagation()">

</div>

}